.post-img{
    height: 150px;
    display: inline-block;
    border: solid 1px #efefef;
}

.hotel-logo
{
    height: 150px;
    border-radius: 50%;
    width: 150px;
}

#gallery-processing
{
    display: none;
    background: #0094049e;
    position: absolute;
    top: 40px;
    width: 100%;
    color: #fff;
}
.galleryImage
{
    height: 180px;
    display: inline-block;
    border: solid #ccc 1px;
    background: #003665;
    color: #fff;
}
.hotel-nav
{
    background: #b9b9b9;
    border-bottom: 0px;
}
.hotel-nav .navbar-brand img
{
    width: 35px;
}

.username{
    position: absolute;
    top: 29px;
    right: 25px;
    font-size: 9px;
}
